<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Empire City Elixir Conf 2016" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= partial "partials/meta" %>
    <%= favicon_tag "favicon.ico" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag "vendor/jquery-2.2.1.min.js" %>
    <%= javascript_include_tag "nav.js" %>
    <%= partial "partials/analytics" %>
    <%= yield_content :bottom_of_page %>
  </body>
</html>
