<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <%# <title> EMPEX - %>
    <%#   <% if content_for?(:title) %1> %>
    <%#     <%= yield_content :title %1> %>
    <%#   <% elsif current_page.data.title.present? %1> %>
    <%#     <%= current_page.data.title %1> %>
    <%#   <% else %1> %>
    <%#     Empire City Elixir Conference %>
    <%#   <% end %1> %>
    <%# </title> %>

    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" %>
    <%= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css" %>

    <%= favicon_tag "favicon.ico" %>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-73059900-1');
    </script>

    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield_content :hero %>

    <% if content_for?(:navbar) %>
      <%= yield_content :navbar %>
    <% else %>
      <div class="navbar-spacer"></div>
      <%= partial "partials/navbar" %>
    <% end %>

    <main>
      <%= yield %>
    </main>
    <%= partial "partials/bottom" %>
    <%= javascript_include_tag "vendor/jquery-2.2.1.min.js" %>
    <%= javascript_include_tag "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js" %>
    <%= javascript_include_tag "nav"%>
    <%= yield_content :bottom_of_page %>
  </body>
</html>
