<section class="organizer-list">
  <% blog('organizers').articles.sort_by { |a| a.data.title.split(" ").last }.each do |article| %>
    <section class="organizer">
      <% if article.data.image.present? %>
        <img src="<%= article.data.image %>" alt="<%= article.data.title %>" />
      <% end %>
      <div class="bd">
        <h3><%= article.data.title %></h3>
        <% if article.data.twitter.present? %>
          <div>
            <%= link_to_twitter article.data.twitter %>
          </div>
        <% end %>
        <% if article.data.link.present? %>
          <div>
            <%= link_to_link article.data.link %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</section>
