<section class="presentation" id="<% presentation.id %>">
  <% presenter = find_presenter(presentation.presenters.first).last %>

  <div class="summary">
    <p class="title"><%= presentation.title %></p>
  </div>
  <div class="presenter">
    <div class="personal-info">

      <div class="presenter-image">
        <%= image_tag "people/presenters/#{presenter.image}" %>
      </div>

      <div class="presenter-name"><%= presenter.name %></div>

      <% if presenter.twitter.present? %>
        <p class="presenter-twitter">
          <%= link_to_twitter presenter.twitter %>
        </p>
      <% end %>

      <% if presenter.website.present? %>
        <p class="presenter-website">
          <%= link_to_link presenter.website %>
        </p>
      <% end %>
    </div>

    <div class="description">
      <%= render_markdown(presentation.description) %>
    </div>

    <div class="bio">
      <%= render_markdown(presenter.bio) %>
    </div>

  </div>
</section>
