<section class="presentation" id="<% presentation.id %>">
  <% presenter = find_presenter(presentation.presenters.first).last %>
  <h3 class="name"><%= presentation.title %></h3>
  <div class="summary">
    <div class="presenter">
      <%= image_tag "people/presenters/#{presenter.image}" %>
      <div class="bio">
        <h2><%= presenter.name %></h2>
        <% if presenter.twitter.present? %>
          <div><%= link_to_twitter presenter.twitter %></div>
        <% end %>
        <% if presenter.website.present? %>
          <div><%= link_to_link presenter.website %></div>
        <% end %>
      </div>
    </div>
    <%= render_markdown(presentation.description) %>
  </div>
  <div class="presenters">
    <div class="presenter">
      <div class="bio">
        <% if presenter.bio.present? %>
          <%= render_markdown(presenter.bio) %>
        <% end %>
      </div>
    </div>
  </div>
</section>
