<section class="speaker" id="<%= speaker.data.twitter.try :downcase %>">
  <% if speaker.data.image.present? %>
    <img src="<%= speaker.data.image %>" alt="<%= speaker.title %>" />
  <% end %>
  <div class="bd">
    <h3 class="name"><%= link_to speaker.title, speaker %> <small><%= link_to_twitter speaker.data.twitter %></small></h3>
    <h4><%= speaker.data.topic %></h4>
    <div class="summary"><%= speaker.body %></div>
    <% if speaker.data.interview %>
      <div class="interview"><%= link_to "Read our interview with #{speaker.data.title.split(' ').first} on Medium!", speaker.data.interview, target: '_blank' %></div>
    <% end %>
    <div class="bio"><%= speaker.data.bio %></div>
  </div>
</section>

