<section class="sponsor-list">
  <div class="row">
    <div class="sponsors crevalle">
      The Empire City Elixir Conference is a production of <br />
      <% link_to producer.link, class: 'image-link', target: '_blank' do %>
        <%= image_tag "sponsors/#{producer.image}", alt: producer.name, class: 'crevalle-logo' %>
      <% end %>
      </a>
    </div>
    <div class="row">
      <%= introduction %>
    </div>
    <% sponsorship_levels.each do |level| %>
      <div class="row">
        <div class="sponsors <%= level.name %>">
          <% if %w(platinum gold silver).include? level.name %>
            <h3><%= level.name.capitalize %></h3>
          <% end %>
          <% level.sponsor_ids.map {|id| get_sponsor_by_id(id) }.each do |sponsor| %>

            <% link_to sponsor.link, class: 'image-link', target: '_blank' do %>
              <%= image_tag "sponsors/#{sponsor.image}", alt: sponsor.name %>
            <% end %>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
