<div class="talk-history">
  <h2 class="talk-history__section-header">
    All the Talks
  </h2>

  <p>
    EMPEX has been running for <%= Date.today.year - 2015 %> years.<br/>
    In that time, we've heard some amazing talks! Here they are in all their glory.
  </p>

  <div class="talk-history__cards">
    <% talks.each do |talk| %>
      <div class="talk-card">
        <a class="talk-card__media" href="/talks/<%= talk.slug %>">
          <img src="<%= video_preview_image(talk) %>">
        </a>
      
        <h3 class="talk-card__title">
          <a href="/talks/<%= talk.slug %>"><%= talk.title %></a>
        </h3>

        <h4 class="talk-card__author">
          <%= talk.authors.map(&:name).join(", ")  %> (<%= talk.conference %>)
        </h4>

        <p class="talk-card__description">
          <%= truncate_text(talk.description, 200) %>
        </p>
      </div>
    <% end %>
  </div>
</div>
