---
layout: layout
---

<% content_for(:head) do %>
  <% url = "#{host}/events/#{year}/#{slug}.html" %>
  <link rel="canonical" href="<%= url %>">
  <%= partial "partials/event_meta", locals: {event: event, url: url} %>
<% end %>

<% content_for(:bottom_of_page) do %>
  <%= javascript_include_tag "carousel" %>
  <%= javascript_include_tag "moon"%>
<% end %>

<% content_for(:title) do %>
  <%= event.title %>
<% end %>

<% content_for(:hero) do %>
  <section id="hero">
    <div id="moon"><div></div></div>
    <header id="header" class="header container">
      <% link_to producer.link, target: '_blank', class: 'no-hover' do %>
        <%= image_tag "sponsors/#{producer.footer_logo}", alt: producer.name , title: producer.name, class: 'crevalle-name' %>
      <% end %>
      </br><small>presents</small></br>

      <%= partial "partials/logo" %>
      <h1 class="current-event-text"><%= event.title %></h1>
      <p>
        A one-day conference for curious programmers.<br />
        Saturday, May 19th<br />
      </p>

      <p>
        Training courses to help you level up with Elixir<br />
        Friday, May 18th<br />
      </p>

      <p>
        <a class="button button-primary button-large current-event no-hover" href="https://ti.to/empex-nyc/empex-nyc-2018" target="_blank">
          Get Your Tickets!
        </a>

        <%# <a %>
        <%#   class="button button-primary button-large current-event no-hover not-mobile" %>
        <%#   href="https://ti.to/crevalle/empex-2018" %>
        <%#   target="_blank"> %>
        <%#   We are sold out! Join the waiting list %>
        <%# </a> %>

      </p>
    </header>
  </section>
<% end %>

<section id="about">
  <div class="content-section container">
    <h2>About</h2>
    <%= render_markdown(event.description) %>
  </div>
</section>

<section id="location">
  <div class="content-section container">
    <div class="bg-wrapper">
      <h2>Location</h2>
      <%= partial "partials/location", locals: {location: find_location(event.location.id).last, description: event.location.description } %>
    </div>
  </div>
</section>

<section id="schedule">
  <div class="content-section container">
    <h2>Schedule</h2>
    <%= partial "partials/schedule" %>
  </div>
</section>

<section id="presentations">
  <div class="content-section container">
    <%= partial "partials/presentations" %>
  </div>
</section>

<%# <section id="schedule"> %>
<%#   <div class="content-section container"> %>
<%#     <h2>Schedule</h2> %>
<%#     <% if event.schedule.kind_of?(Array) %1> %>
<%#       <%= partial "partials/schedule", locals: {schedule: event.schedule, event: event} %1> %>
<%#     <% else %1> %>
<%#       <%= render_markdown(event.schedule) %1> %>
<%#     <% end %1> %>
<%#   </div> %>
<%# </section> %>

<section id="training">
  <div class="content-section container">
 		<h2>Training</h2>
        <p>Training courses will be held on May 18th, the day before the EMPEX conference. The
           location will be in Manhattan, and specifics will be announced soon.</p>
        <p><a href="https://ti.to/empex-nyc/empex-nyc-2018">Get Your Training Tickets Now!</a></p>
 		 <%= partial "partials/courses" %>
 	</div>
</section>

<%# <section id="sponsors"> %>
<%#   <div class="content-section container"> %>
<%#     <div class="bg-wrapper"> %>
<%#       <h2>Sponsors</h2> %>
<%#       <%= partial "partials/sponsors", locals: {sponsorship_levels: event.sponsorship_levels, introduction: event.sponsor_intro} %1> %>
<%#       If you're interested in sponsoring EMPEX, please email <a mailto: 'info@empex.co'>info@empex.co</a>. %>
<%#     </div> %>
<%#   </div> %>
<%# </section> %>

<section id="organizers">
  <div class="content-section container">
    <h2>Organizers</h2>
    <%= partial "partials/organizers" %>
  </div>
</section>
