---
layout: layout
---

<% content_for(:head) do %>
  <% url = "#{host}/events/#{year}/#{slug}.html" %>
  <link rel="canonical" href="<%= url %>">
  <%= partial "partials/event_meta", locals: {event: event, url: url} %>
<% end %>

<% content_for(:bottom_of_page) do %>
  <%= javascript_include_tag "carousel" %>
  <%= javascript_include_tag "moon"%>
<% end %>

<% content_for(:title) do %>
  <%= event.title %>
<% end %>

<% content_for(:hero) do %>
  <section id="hero">
    <div id="moon"><div></div></div>
    <header id="header" class="header container">
      <% link_to producer.link, target: '_blank', class: 'no-hover' do %>
        <%= image_tag "sponsors/#{producer.footer_logo}", alt: producer.name , title: producer.name, class: 'crevalle-name' %>
      <% end %>
      </br><small>presents</small></br>

      <%= partial "partials/logo" %>
      <h1 class="current-event-text"><%= event.title %></h1>
      <p>
        A one-day conference for curious programmers.<br />
        Saturday, May 18th<br />
      </p>

      <p>
        Training courses to help you level up.<br />
        Friday, May 17th<br />
      </p>
      <%# <p> %>
      <%#   <a class="button button-primary button-large current-event no-hover" %>
      <%#      href="https://goo.gl/forms/GmxaeJxCLLchnW7F2" %>
      <%#      target="_blank"> %>
      <%#     Our CFP Is Open! %>
      <%#   </a> %>
      <%# </p> %>
      <p>
        <a class="button button-primary button-large current-event no-hover"
           href="https://ti.to/empex-nyc/empex-nyc-2019"
           target="_blank">
          Get Your Tickets!
        </a>

        <%# <a %>
        <%#   class="button button-primary button-large current-event no-hover not-mobile" %>
        <%#   href="https://ti.to/crevalle/empex-2018" %>
        <%#   target="_blank"> %>
        <%#   We are sold out! Join the waiting list %>
        <%# </a> %>

      </p>
    </header>
  </section>
<% end %>

<section id="about">
  <div class="content-section container">
    <h2>About</h2>
    <%= render_markdown(event.description) %>
  </div>
</section>

<section id="location">
  <div class="content-section container">
    <div class="bg-wrapper">
      <h2>Location</h2>
      <%= partial "partials/location", locals: {location: find_location(event.location.id).last, description: event.location.description } %>
    </div>
  </div>
</section>

<%# <section id="schedule"> %>
<%#   <div class="content-section container"> %>
<%#     <h2>Schedule</h2> %>
<%#     <%= partial "partials/schedule" %1> %>
<%#   </div> %>
<%# </section> %>

<section id="presentations">
  <div class="content-section container">
    <%= partial "partials/presentations" %>
  </div>
</section>

<%# <section id="schedule"> %>
<%#   <div class="content-section container"> %>
<%#     <h2>Schedule</h2> %>
<%#     <% if event.schedule.kind_of?(Array) %1> %>
<%#       <%= partial "partials/schedule", locals: {schedule: event.schedule, event: event} %1> %>
<%#     <% else %1> %>
<%#       <%= render_markdown(event.schedule) %1> %>
<%#     <% end %1> %>
<%#   </div> %>
<%# </section> %>

<section id="training">
  <div class="content-section container">
    <h2>Training</h2>
    <p>
      Training courses will be held on May 17th, the day before the EMPEX conference.
      The location will be announced soon.
    </p>
    <p>
      <a href="https://ti.to/empex-nyc/empex-nyc-2019">Get Your Training Tickets Now!</a>
    </p>
    <section class="presentation-list">
	  <%= partial "partials/courses/nerves" %>
      <%= partial "partials/courses/haskell" %>
	  <%= partial "partials/courses/crash-course" %>
    </section>
  </div>
</section>

<%# <%= partial "partials/producer" %1> %>
<%= partial "partials/sponsors" %>

<section id="organizers">
  <div class="content-section container">
    <h2>Organizers</h2>
    <section class="organizer-list">
      <section class="organizer">
        <img src="/assets/images/people/organizers/antaramian-david.jpg"
             alt="David Antaramian Headshot" />
        <div class="bd">
          <h3>David Antaramian</h3>
          <div>
            <a href="https://twitter.com/davidantaramian">@davidantaramian</a>
          </div>
          <div>
            <a href="http://antaramian.com" target="_blank">antaramian.com</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/bell-chris.jpg"
             alt="Chris Bell Headshot" />
        <div class="bd">
          <h3>Chris Bell</h3>
          <div>
            <a href="https://twitter.com/cjbell_">@cjbell_</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/sophie-debenedetto.jpg"
             alt="Sophie DeBenedetto Headshot" />
        <div class="bd">
          <h3>Sophie DeBenedetto</h3>
          <div>
            <a href="https://twitter.com/sm_debenedetto">@sm_debenedetto</a>
          </div>
          <div>
            <a href="https://www.thegreatcodeadventure.com" target="_blank">The Great Code Adventure</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/denkinger-troy.jpg"
             alt="Troy Denkinger Headshot" />
        <div class="bd">
          <h3>Troy Denkinger</h3>
          <div>
            <a href="https://twitter.com/tdenkinger">@tdenkinger</a>
          </div>
          <div>
            <a href="http://denkinger.us" target="_blank">denkinger.us</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/denkinger-lisa.jpg"
             alt="Lisa Denkinger Headshot" />
        <div class="bd">
          <h3>Lisa Denkinger</h3>
          <div>
            <a href="https://twitter.com/ldenkinger_">@ldenkinger_</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/hood-helen.jpg"
             alt="Helen Hood Headshot" />
        <div class="bd">
          <h3>Helen Hood</h3>
          <div>
            <a href="https://twitter.com/hchood">@hchood</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/mccown-andy.jpg"
             alt="Andy Mccown Headshot" />
        <div class="bd">
          <h3>Andy McCown</h3>
          <div>
            <a href="https://twitter.com/AndyMcDev">@AndyMcDev</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/nussbaum-lee.jpg"
             alt="Lee Nussbaum Headshot" />
        <div class="bd">
          <h3>Lee Nussbaum</h3>
          <div>
            <a href="https://twitter.com/wln0">@wln0</a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <img src="/assets/images/people/organizers/price-cameron.jpg"
             alt="Cameron Price Headshot" />
        <div class="bd">
          <h3>Cameron Price</h3>
          <div>
            <a href="https://twitter.com/cameronp">@cameronp</a>
          </div>
        </div>
      </section>
    </section>

  </div>
</section>

