---
title: Empire City Elixir Conf
layout: layout
---

<% content_for(:bottom_of_page) do %>
  <%= javascript_include_tag "moon"%>
  <%= javascript_include_tag "nav"%>
  <%= javascript_include_tag "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js" %>
  <%= javascript_include_tag "carousel" %>
<% end %>

<!-- Header -->
<section id="hero">
  <div id="moon"><div></div></div>
  <header id="header" class="header container">
    <% link_to "http://crevalle.io", target: '_blank', class: 'no-hover' do %>
      <%= image_tag crevalle.data.name_logo, alt: crevalle.data.title, class: 'crevalle-name' %>
    <% end %>
    </br><small>presents</small></br>
    <%= partial "partials/logo" %>
    <h1 class="halloween-text">Halloween Lightning Talks <span class="year">2016</span></h1>
    <p>An evening costume party of style and technology<br />
      Thursday, October 27<br />
      New York City<br />
    </p>
    <p>
    <%= link_to "Tickets on Sale September 15", "#", class: "button button-primary button-large halloween no-hover", target: "_blank" %>
    </p>
    <p>
    <%= link_to 'Call for Proposals now open!', cfp_url, target: '_blank' %>
    </p>
  </header>
</section>

<div class="navbar-spacer"></div>
<%= partial "partials/navbar" %>

<section id="about">
  <div class="content-section container">
    <h2>About</h2>
    <div class="content">
      <p>EmpEx, the Empire City Elixir Conference, is a new conference for the Elixir programming language and ecosystem held in New York City.  Our goal is to bring a sense of aesthetic and fun to the growing Elixir community.</p>
      <p>The Halloween Lightning Talks are an evening costume party featuring fun and several short technical talks.  Costumes strongly encouraged.</p>
    </div>
  </div>
</section>

<section id="location">
  <div class="content-section container">
    <div class="bg-wrapper">
      <h2>Location</h2>
      <p>
        EmpEx Halloween Lightning Talks will be held at <%= link_to "Subculture", "http://subculturenewyork.com", target: "_blank" %>, an intimate jazz club in Soho.<br />
        45 Bleecker St, New York City, 10012<br />
        <%= link_to "Find it on Google Maps", "https://www.google.com/maps/place/45+Bleecker+St,+New+York,+NY+10012/@40.7259994,-73.9963642,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259855d92fe97:0xf52b5c50ff1c04c", target: "_blank" %>
      </p>
      <div class="gallery">
        <div class="subculture-carousel">
          <div><%= image_tag 'subculture8.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture1.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture10.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture3.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture6.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture9.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture5.jpg', class: 'carousel-image' %></div>
          <div><%= image_tag 'subculture2.jpg', class: 'carousel-image' %></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="speakers">
  <div class="content-section container">
    <h2>Speakers</h2>
    <p>
    Call for Proposals is now open!  Please <%= link_to 'submit your talk here', cfp_url, target: '_blank' %> by September 15.
    </p>
  </div>
</section>

<section id="schedule">
  <div class="content-section container">
    <h2>Schedule</h2>
    <p>Doors will open at 6pm.  The party will run until 9pm, with afterparty to follow.</p>
    <p>Detailed schedule to follow once speakers are selected!</p>
  </div>
</section>

<section id="sponsors">
  <div class="content-section container">
    <div class="bg-wrapper">
      <h2>Sponsors</h2>
      <%= partial "partials/sponsors" %>
      <div class="footer">
        <p>
        <%# If you're interested in sponsoring EmpEx please view our <%= link_to "prospectus", "https://docs.google.com/document/d/1HISa91dRgBsYBg7FLpE621GLftP4iGAt_UGk7oWVjr4/edit", target: "_blank" %>
        We are finalizing the sponsor prospectus for our Halloween Lightning Talks.  Please stay tuned.
        </br>All inquiries should be directed to <a href="mailto:sponsors@empex.co">sponsors@empex.co</a><br />
        </p>
      </div>

    </div>
  </div>
</section>

<section id="organizers">
  <div class="content-section container">
    <h2>Organizers</h2>
    <%= partial "partials/organizers" %>
  </div>
</section>

<%= partial "partials/bottom" %>
