<!doctype html>
<html>

<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>EMPEX LA 2018</title>

  <%= stylesheet_link_tag "la-all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/javascripts/smoothScroll.js"></script>

  <link href="/assets/images/favicon.ico" rel="icon" type="image/ico" />

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-73059900-1');
  </script>

  <link rel="canonical" href="http://empex.co/events/2017/conference.html">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@empexco" />
  <meta name="twitter:title" content="EMPEX - LA 2018" />
  <meta name="twitter:description" content="EMPEX LA is a sophisticated conference series for the Elixir programming language and ecosystem held in Los Angeles." />
  <meta name="twitter:image" content="<%= asset_url :images, 'flag.jpg' %>" />
  <meta name="twitter:image" content="http://empex.co/assets/images/flag-577c45fc.jpg" />

  <meta property="og:url" content="http://empex.co/" />
  <meta property="og:title" content="EMPEX - LA 2018" />
  <meta property="og:description" content="EMPEX LA is a sophisticated conference series for the Elixir programming language and ecosystem held in Los Angeles." />
  <meta property="og:image" content="<%= asset_url :images, 'flag.jpg' %>" />
</head>

<body class="body">
  <div class="hero-background">
    <section class="hero">
      <nav class="nav">
        <div class="nav__empex">
          <strong>Empex</strong>
          <br class="hide-tablet"/>

          Los Angeles
        </div>

        <div class="nav__spacer"></div>

        <div class="nav__links">
          <a class="nav__link" href="#about">
            About
          </a>
          <a class="nav__link" href="#location">
            Location
          </a>
          <a class="nav__link" href="#schedule">
            Schedule
          </a>
          <a class="nav__link" href="#sponsors">
            Sponsors
          </a>
          <a class="nav__link" href="#organizers">
            Organizers
          </a>
          <span class="nav__link">
            <!-- spacer -->
          </span>
        </div>
      </nav>

      <div class="hero__content">
        <p class="hero__presents">
          <span class="hero__crevalle"><a href="http://crevalle.io" target="_blank">Crevalle</a></span>
          presents:
        </p>
        <h2>
          A one-day conference for curious<br class="hide-mobile" / >
          elixir programmers.
        </h2>
        <p>
          Saturday, February 10, 2018
        </p>
      </div>

      <div class="hero__buttons">
        <a class="hero__button hero__button--buy" href="https://ti.to/crevalle/empex-la-2018">
          Buy Tickets
        </a>
      </div>
    </section>

    <section id="about" class="about">
      <h2>Los Angeles</h2>
      <p>Saturday, February 10, 2018</p>
      <p>
        EMPEX is a sophisticated conference series for the Elixir programming language and ecosystem held in Los Angeles. We present a single track of technical talks in a fun space in downtown LA. Our goal is to bring a sense of aesthetic and fun to the growing Elixir community.
      </p>

      <p> We&#39;d love for you to join us. Put your email address in so we can keep you up to date.</p>

      <%= partial "partials/signup" %>
    </section>
  </div>

  <div class="hr hr--black"></div>

  <section id="location" class="location">
    <div class="location__content-color">
      <div class="location__content">
        <h2>
          Creative Downtown Exhibition Space<br/>
          in Los Angeles, California
        </h2>
      </div>
    </div>

    <div class="location__details-color">
      <div class="location__details">
        <%= image_tag "locations/la-location.jpg", class: "location__image" %>

        <div class="location__data">
          <a class="location__fact" target="_blank" href="https://goo.gl/maps/LNLQRQvCZpB2">
            <%= image_tag "icons/location-icon.png", alt: "Find it on Google Maps", class: "location__icon" %>

            <span>
              1827 South Hope Street, Los Angeles, CA 90015
            </span>
          </a>
          <div class="location__fact">
            <%= image_tag "icons/bus-icon.png", class: "location__icon"%>
            <span>
              Walking distance to Metro Blue line
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="presentations" class="presentations">
    <section class="presentation-list">
      <h2 class="presentations-list__title">Keynotes</h2>
      <div class="presentations-list__intro">
        <p>We&#39;re excited and proud to announce our keynote speakers for EMPEX LA!</p>
      </div>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/cunningham-emma.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Emma Cunningham
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/emmatcu">@emmatcu</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Keynote
          </h3>

          <div class="presentation__description">

          </div>

          <div class="presentation__bio">
            <p>
              Emma is a Senior Software Engineer at Second Spectrum, where she gets to solve all kinds of fun problems around how to build compelling data visualization and analytics apps for clients like the NBA and the LA Clippers. She is actively involved in various STEAM education equity initiatives in low-income communities across Los Angeles, including co-organizing YouthBuild Charter School of California’s <a href="http://www.youthbuildcharter.org/news-events/codechella/" target="_blank">CODEChella</a>, serving on the Advisory Board at the Critical Design and Gaming School, teaching robotics and programming at <a href="https://www.heartofla.org/" target="_blank">Heart of Los Angeles</a>, and co-directing <a href="http://codehawkcamp.org/" target="_blank">Code Hawk Camp</a>, an inclusive and free summer computer science camp for students in South LA.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/gray-sarah.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Sarah Gray
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/fablednet">@fablednet</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Keynote
          </h3>

          <div class="presentation__description">

          </div>

          <div class="presentation__bio">
            <p>
              Sarah has been a software developer since 2001, when she was spit out of grad school from ITP,  NYU’s interactive technology program. Prior to that, she’d been directing experimental theater, which gradually led her deeper and deeper into technology and code. Since 2001, she’s worked on a cross-section of projects across different industries. Highlights include building medical software at Mt. Sinai Hospital; leading the technology integration for startup Trunk Club when they were acquired by Nordstrom; and working on Hillary Clinton’s tech team in Brooklyn. In 2017 she learned how to program for the Ethereum blockchain, because in The Future (TM) we will all be on the blockchain. Sarah’s career is predicated on a mix of exploring the new while maintaining solid software development practices in order to make projects come to life. Because of her dual background in coding and experimental performance, she is constantly playing with forms, and putting together new, short-lived (theater-life-span) projects. We’re excited for Sarah to bring her breadth of experience to keynote at Empex LA!
            </p>
          </div>
        </div>
      </section>

    </section>

    <section class="presentation-list">
      <h2 class="presentations-list__title">Presentations</h2>
      <div class="presentations-list__intro">
        <p>
          We're proud to announce the following presentations for EMPEX LA!
        </p>
      </div>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/lessel-geoffrey.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Geoffrey Lessel
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/geolessel">@geolessel</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Life is but a Stream
          </h3>

          <div class="presentation__description">
            <p>
              A overview and dive into the Stream module. When should you use it over Enum? What are the pros and cons of using Stream for your day-to-day tasks? How are some of the functions implemented? We'll go into those questions and find some answers together.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Geoffrey:</strong>
              Geoffrey Lessel has been a web developer for over 15 years—first with PHP and Perl and now with Ruby on Rails and Phoenix. He has spoken at ElixirConf, blogs about Elixir and Ecto at geoffreylessel.com, and tweets from @geolessel.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/hao-andrew.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Andrew Hao
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/andrewhao">@andrewhao</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Building beautiful systems with Phoenix contexts and Domain-Driven Design
          </h3>

          <div class="presentation__description">
            <p>
              Phoenix contexts are a powerful code organization tool - but without a clear idea of what business domains live under the hood of your systems, naively creating contexts leads to over-engineered, fragile systems.
            </p>
            <p>
              Today, we’ll learn about the philosophical roots of Bounded Contexts from the hard-earned wisdom of Domain-Driven Design. We’ll quickly get our hands dirty in the nuts and bolts of a Context Mapping exercise, a strategic design tool that reveals domain-specific system boundaries. With our newfound architectural vision, we’ll learn how to write context-driven Phoenix code and develop some organizational rules around communication, boundary enforcement and testing between contexts. We’ll leverage the unique powers of Elixir that make this style of architecture so natural and see how using contexts easily leads to highly-cohesive and loosely-coupled outcomes!
            </p>
          </div>

          <%# <div class="presentation__bio">
            <p>
              <strong>About Andrew:</strong>
              foobar
            </p>
          </div> %>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/resudek-todd.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Todd Resudek
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/sprsmpl">@sprsmpl</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Become a Hex Power User
          </h3>

          <div class="presentation__description">
            <p>
              We all use Hex every day on our Elixir projects, but how many of us really know everything Hex can do and how it works? Taking a deep dive into the Hex internals will show you some tips and tricks you can use on a future project.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Todd:</strong>
              Todd is a Senior Software Engineer at Weedmaps, where he builds solutions for the cannabis industry. Previously, he has built solutions for the K-12 education market, worked in advertising, and as the front-end lead for Newegg.com. In his free time, he enjoys tinkering with hardware, woodworking, and spending time with his wife and 4 kids. 
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-panel">
            <div class="presentation-panel__member">
              <div class="presentation-presenter__avatar-container">
                <%= image_tag "people/presenters/chellaram-shanti.jpg", class: "presentation-presenter__avatar" %>
              </div>

              <h4 class="presentation-presenter__name">
                Shanti Chellaram
              </h4>

              <div class="presentation-presenter__link">
                <a target="_blank" href="https://twitter.com/theccoder">@theccoder</a>
              </div>
            </div>

            <div class="presentation-panel__member">
              <div class="presentation-presenter__avatar-container">
                <%= image_tag "people/presenters/richey-brandon.png", class: "presentation-presenter__avatar" %>
              </div>

              <h4 class="presentation-presenter__name">
                Brandon Richey
              </h4>

              <div class="presentation-presenter__link">
                <a target="_blank" href="https://twitter.com/diamondgfx">@diamondgfx</a>
              </div>
            </div>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">Panel: Elixir Adoption</h3>

          <div class="presentation__description">
            <p>
              This panel will discuss strategies for increasing Elixir adoption in your organization, and then take questions.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Shanti:</strong>
              Shanti Chellaram is currently a senior engineer at Teachers Pay Teachers, with a year and a half of experience migrating a legacy PHP stack to Elixir. If she's not at a computer, she's trekking through the hills and mountains of New England.
            </p>

            <p>
              <strong>About Brandon:</strong>
              Brandon Richey is an Engineering Manager at Greenhouse and a long-time web developer. He's been working in Elixir for over two years now, and has successfully adopted Elixir at four companies! When not working on building an amazing recruiting product at Greenhouse, he also is spending time working on the technical side of the Cured Foundation, programming hobby projects, and working on his art. He has a book on Elixir and Phoenix development currently in progress, slated for release later this year.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-panel">
            <div class="presentation-panel__member">
              <div class="presentation-presenter__avatar-container">
                <%= image_tag "people/organizers/bowe-desmond.png", class: "presentation-presenter__avatar" %>
              </div>

              <h4 class="presentation-presenter__name">
                Desmond Bowe
              </h4>

              <div class="presentation-presenter__link">
                <a target="_blank" href="https://twitter.com/desmondmonster">@desmondmonster</a>
              </div>
            </div>

            <div class="presentation-panel__member">
              <div class="presentation-presenter__avatar-container">
                <%= image_tag "people/presenters/brodie-benjamin.jpg", class: "presentation-presenter__avatar" %>
              </div>

              <h4 class="presentation-presenter__name">
                Benjamin Brodie
              </h4>

              <div class="presentation-presenter__link">
                <a target="_blank" href="https://twitter.com/blbrodie">@blbrodie</a>
              </div>
            </div>

            <div class="presentation-panel__member">
              <div class="presentation-presenter__avatar-container">
                <%= image_tag "people/presenters/taylor-scott.jpg", class: "presentation-presenter__avatar" %>
              </div>

              <h4 class="presentation-presenter__name">
                Scott Taylor
              </h4>

              <div class="presentation-presenter__link">
                <a target="_blank" href="https://twitter.com/staylorwr">@staylorwr</a>
              </div>
            </div>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">Panel: Deployment</h3>

          <div class="presentation__description">
            <p>
              This panel will discuss their elixir deployment strategies, and then take questions.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Desmond:</strong>
              Desmond is the founder of EMPEX and a cohost of the popular ElixirTalk podcast.  He also runs Crevalle, an Elixir training and development firm.  In his free time he grows his mustache and plays pinball.
            </p>

            <%# <p>
              <strong>About Benjamin:</strong>
              blah blah
            </p> %>

            <p>
              <strong>About Scott:</strong>
              Scott is a polygot engineer who writes Elixir as the lead engineer at Motel. At Motel, Scott crafts Elixir and mentors others. He also holds the record for most countries traveled to, most miles ran, and most slack emojis made of his face.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/organizers/rosemary.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Rosemary Ledesma
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/rosemledesma">@rosemledesma</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Ecto.Schema without Ecto.Repo
          </h3>

          <div class="presentation__description">
            <p>
              With newer versions of Ecto you can use Ecto.Schema without even importing Ecto.Repo or setting up a traditional database. Why would you wish to?
            </p>
            <p>
              Your microservice or other lightweight app may not use a database but you'll probably still need to wrangle some serious data: complex params, JSON request/response bodies, RabbitMQ payloads, etc.  That's data that you'll need to parse, cast, and validate.
            </p>
            <p>
              I'll step you through how to use Ecto.Schema on its own to cast and validate various kinds of data, and how to extract the final results whether the data is valid or invalid.
            </p>
            <p>
              I'll also discuss some of the stumbling blocks and limitations I've encountered while leveraging Ecto.Schema in this way.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Rosemary:</strong>
              Rosemary is passionate about writing software with Elixir and Phoenix, and works as a back-end software engineer for RentPath LLC. In her spare time she enjoys hiking, swing-dancing, and rowing (crew).
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/bell-chris.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Chris Bell
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/cjbell_">@cjbell_</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Shipping a Replacement Architecture in Elixir
          </h3>

          <div class="presentation__description">
            <p>
              This talk will be deep-dive of how over the last 6 months at Frame.io we shipped a replacement API architecture built entirely in Elixir and Phoenix to replace an aging Rails monolith. During the talk we’ll dig into the structure, talk about our nifty GenStage event bus, take a quick tour of moving millions of records using Flow, and wind up showing some nice graphs of all the wins.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Chris:</strong>
              Chris is an Englishman in New York, where he works as the Director of Engineering at Frame.io, a startup that helps video teams collaborate. He’s an avid alchemist and helps organize the NYC branch of EMPEX as well as co-hosting a podcast, ElixirTalk.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/organizers/will.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Will Ockelmann-Wagner
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/WowItsWillWow">@WowItsWillWow</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            A Swarm of Processes — Simulating Ant Foraging Behavior with OTP
          </h3>

          <div class="presentation__description">
            <p>
              In this talk, we'll see a simulation of a foraging ant colony that can efficiently solve mazes, built using a separate OTP process for each ant. Along the way we'll look at GenServers, dynamic Supervisors, Registries, and more OTP goodness. We’ll also learn a little bit about ants!
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Will:</strong>
              Will is a software developer at Carbon Five. He started his career in accounting, but found that automating his job away was more fun than the actual job, and moved over to software. He’s into typed functional programming and tiny keyboards.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/gamache-pete.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Pete Gamache
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/gamache">@gamache</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Inclusion Starts with Docs
          </h3>

          <div class="presentation__description">
            <p>
              Great documentation is the single most powerful tool for increasing inclusion in a project.  Docs can level the playing field between beginners and experts, providing everyone a better understanding of using and contributing to a library.
            </p>
            <p>
              The feeling of creating a project, putting it out there, and watching people contribute to it is breathtaking -- it's one of the things that gets people hooked on participating in the free software ecosystem. High-quality docs get a project, and its creator, to that point faster.
            </p>
            <p>
              Lucky for us, Elixir has best-in-class features for authoring and generating online documentation. In this talk, we'll examine and demonstrate Elixir's doc system, covering in particular:
            </p>

            <ul>
              <li>An introduction to ExDoc</li>
              <li>Top level project docs using @moduledoc</li>
              <li>Function docs using @doc</li>
              <li>Executable code samples using doctests</li>
              <li>Type annotations and docs using typespecs</li>
              <li>Linking your docs to your source code</li>
              <li>Magically auto-updating install instructions</li>
              <li>Documentation techniques and tactics for other kinds of projects (e.g. HTTP APIs)</li>
            </ul>

            <p>
              This talk has two goals: to show the power of Elixir's built-in docs system, and more importantly to get folks excited about how strongly fantastic docs can improve a project and its community.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Pete:</strong>
              Pete is CTO at Appcues, where Elixir has been a boring part of the platform for two years and counting (and that's high praise). He enjoys pattern-matching, immutable data structures, and long walks on the beach. Follow him on Twitter.
            </p>
          </div> 
        </div>
      </section>

    </section>
  </section>

  <section id="schedule" class="schedule">
    <h2>Schedule</h2>
    <table class="schedule-table">
      <tr>
        <td class="event">
          <div class="title">Doors open / Registration</div>
          Show up and hang out. Mingle!
        </td>
        <td class="time">
          9:00AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Opening Remarks</div>
        </td>
        <td class="time">
          9:30AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Morning Keynote</div>
          Emma Cunningham
        </td>
        <td class="time">
          9:35AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Life is but a Stream</div>
          Geoffrey Lessel
        </td>
        <td class="time">
          10:20AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Break</div>
        </td>
        <td class="time">
          10:40AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Building Beautiful Systems with Phoenix Contexts and Domain-Driven Design</div>
          Andrew Hao
        </td>
        <td class="time">
          10:50AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Become a Hex Power User</div>
          Todd Resudek
        </td>
        <td class="time">
          11:35AM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">
            Lunch
          </div>
          Yum yums.
        </td>
        <td class="time">
          11:55PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Panel: Elixir Adoption</div>
          Shanti Chellaram &amp; Brandon Richey
        </td>
        <td class="time">
          12:40PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Panel: Deployment</div>
          Desmond Bowe &amp; Benjamin Brodie &amp; Scott Taylor
        </td>
        <td class="time">
          1:05PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Break</div>
        </td>
        <td class="time">
          1:35PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Ecto.Schema without Ecto.Repo</div>
          Rosemary Ledesma
        </td>
        <td class="time">
          1:45PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Shipping a Replacement Architecture in Elixir</div>
          Chris Bell
        </td>
        <td class="time">
          2:10PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Stretch</div>
        </td>
        <td class="time">
          3:00PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">A Swarm of Processes — Simulating Ant Foraging Behavior with OTP</div>
          Will Ockelmann-Wagner
        </td>
        <td class="time">
          3:05PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Break</div>
        </td>
        <td class="time">
          3:25PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Inclusion Starts with Docs</div>
          Pete Gamache
        </td>
        <td class="time">
          3:50PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Closing Keynote</div>
          Sarah Gray
        </td>
        <td class="time">
          4:35PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Closing Remarks</div>
        </td>
        <td class="time">
          5:20PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">Dismiss</div>
          Let's wrap it up!
        </td>
        <td class="time">
          5:25PM
        </td>
      </tr>
      <tr>
        <td class="event">
          <div class="title">
            After party
          </div>
          Some drinks to wash down the learning.
        </td>
        <td class="time">
          6:00PM
        </td>
      </tr>
    </table>
  </section>

  <section id="sponsors" class="sponsor-section">
    <h2>Sponsors</h2>

    <section class="sponsor-list">
      <div class="row">
        <div class="sponsors crevalle">
          EMPEX is a production of <br />
          <a class="image-link" target="_blank" href="http://crevalle.io/">
            <%= image_tag "sponsors/crevalle-la.svg", alt: "Crevalle", class: "crevalle-logo" %>
          </a>
        </div>
      </div>

      <%# <div class="row">
        <div class="sponsors platinum">
          <h3>Platinum</h3>

        </div>
      </div> %>

      <div class="row">
        <div class="sponsors gold">
          <h3>Gold</h3>
            <a class="image-link" target="_blank" href="http://carbonfive.com">

            <%= image_tag "sponsors/carbonfive.svg", alt: "Carbon Five" %>
          </a>
        </div>
      </div>

      <%# <div class="row">
        <div class="sponsors silver">
          <h3>Silver</h3>

        </div>
      </div> %>
    </section>

    <div class="footer">
      <div>
        If you're interested in sponsoring EMPEX, please see the
        <a href="https://docs.google.com/document/d/1meg5KshORij9x6nwda8Oh4zmEl70sWpN7reqcKS5tYs/edit">prospectus</a>,
        or email
        <a href="mailto:info@empex.co">info@empex.co</a>.
      </div>
    </div>
  </section>

  <section id="organizers" class="organizers">
    <h2>Organizers</h2>
    <section class="organizer-list">

      <section class="organizer">
        <%= image_tag "people/organizers/bowe-desmond.png" %>
        <div class="bd">
          <h3>Desmond Bowe</h3>
          <div>
            <a href="https://twitter.com/desmondmonster" target="_blank">
              @desmondmonster
            </a>
          </div>
          <div>
            <a target="_blank" href="http://crevalle.io">
              crevalle.io
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/tony.jpg" %>
        <div class="bd">
          <h3>Tony Delgado-Willis</h3>
          <div>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/jack.jpg" %>
        <div class="bd">
          <h3>Jack Eisenberg</h3>
          <div>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/hannah.png" %>
        <div class="bd">
          <h3>Hannah Howard</h3>
          <div>
            <a href="https://twitter.com/techgirlwonder" target="_blank">
              @techgirlwonder
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/rosemary.jpg" %>
        <div class="bd">
          <h3>Rosemary Ledesma</h3>
          <div>
            <a href="https://twitter.com/rosemledesma" target="_blank">
              @rosemledesma
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/will.jpg" %>
        <div class="bd">
          <h3>Will Ockelmann-Wagner</h3>
          <div>
            <a href="https://twitter.com/WowItsWillWow" target="_blank">
              @WowItsWillWow
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/bruce.jpg" %>
        <div class="bd">
          <h3>Bruce Park</h3>
          <div>
            <a href="https://twitter.com/bpark0" target="_blank">
              @bpark0
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/sarah.jpg" %>
        <div class="bd">
          <h3>Sarah Port</h3>
          <div>
            <a href="https://github.com/seport" target="_blank">
              @seport
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <!-- spacer -->
      </section>
    </section>
  </section>

  <section id="bottom">
  <footer id="footer" class="footer">
    <div class="footer__logo logo la"></div>
    <div>
        <ul class="links">
          <li>&copy; <% link_to "http://crevalle.io", target: '_blank', class: 'no-hover' do %>
              <%= image_tag "sponsors/#{producer.footer_logo}", alt: producer.name, class: 'crevalle-name' %>
          <% end %>
          </li>
          <li>
            <%= tweet_link_to "Tweet at #empex",
              url: "http://empex.co",
              text: "EMPEX LA is happening on Feburary 10, 2018" %>
          </li>
          <li><%= link_to "Code of Conduct", '/code-of-conduct.html', relative: true %></li>
          <li>Design by <%= link_to "Thought Merchants", 'http://thoughtmerchants.com' %></li>
        </ul>
    </div>
      </footer>
  </section>
</body>

</html>
