<!doctype html>
<html>

<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>EMPEX LA 2020</title>

  <%= stylesheet_link_tag "la-all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/javascripts/smoothScroll.js"></script>

  <link href="/assets/images/favicon.ico" rel="icon" type="image/ico" />

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-73059900-1');
  </script>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@empexco" />
  <meta name="twitter:title" content="EMPEX - LA 2020" />
  <meta name="twitter:description" content="EMPEX LA 2020 is a sophisticated conference series exploring development of realtime applications held in Los Angeles." />
  <meta name="twitter:image" content="<%= asset_url :images, 'flag.jpg' %>" />
  <meta name="twitter:image" content="https://empex.co/assets/images/flag-577c45fc.jpg" />

  <meta property="og:url" content="https://empex.co/" />
  <meta property="og:title" content="EMPEX - LA 2020" />
  <meta property="og:description" content="EMPEX LA 2020 is a sophisticated conference series exploring development of realtime applications held in Los Angeles." />
  <meta property="og:image" content="<%= asset_url :images, 'flag.jpg' %>" />
</head>

<body class="body">
  <div class="hero-background">
    <section class="hero">
      <nav class="nav">
        <div class="nav__empex">
          <strong>EMPEX</strong>
          <br class="hide-tablet"/>

          Los Angeles
        </div>

        <div class="nav__spacer"></div>

        <div class="nav__links">
          <a class="nav__link" href="#about">
            About
          </a>
          <a class="nav__link" href="#location">
            Location
          </a>
          <%# <a class="nav__link" href="#presentations"> %>
            <%# Presentations %>
          <%# </a> %>
          <%# <a class="nav__link" href="#training"> %>
            <%# Training %>
          <%# </a> %>
          <%# <a class="nav__link" href="#schedule"> %>
            <%# Schedule %>
          <%# </a> %>
          <a class="nav__link" href="#sponsors">
            Sponsors
          </a>
          <a class="nav__link" href="#organizers">
            Organizers
          </a>
          <span class="nav__link">
            <!-- spacer -->
          </span>
        </div>
      </nav>

      <div class="hero__content">
        <%# <p class="hero__presents">
          <span class="hero__crevalle"><a href="http://crevalle.io" target="_blank">Crevalle</a></span>
          presents:
        </p> %>
        <h2 class="hero__text">
          A one-day conference exploring development of realtime applications.
        </h2>
        <p>
        Saturday, February 8, 2020<br/>
        Los Angeles, California
        </p>
      </div>

      <div class="hero__buttons">
        <a class="hero__button hero__button--buy" target="_blank" href="https://ti.to/empex/empex-la-2020">
          Get your Tickets now!
        </a>
      </div>
    </section>

    <section id="about" class="about">
      <h2>About</h2>
      <p>
        With the emergence of the concurrent Elixir programming language, we believe that all web
        applications should have realtime interfaces.  We're bringing together leading designers,
        engineers, product managers, and database specialists to explore design patterns,
        considerations, and possibilities in this exciting new world.
      </p>
    </section>
  </div>

  <div class="hr hr--black"></div>

  <section id="location" class="location">
    <div class="location__content-color">
      <div class="location__content">
        <h2>Location</h2>
        <h3>
          The Hungarian Social Club in Downtown Los Angeles
        </h3>
        <p>
          We're returning to this memorable environment for another exciting EMPEX.  Featuring live music, a disco ball, and misadventures in the rain, this venue is different from any conference venue you've seen before.
        </p>
      </div>
    </div>

    <div class="location__details-color">
      <div class="location__details">
        <%= image_tag "locations/la-location.jpg", class: "location__image" %>

        <div class="location__data">
          <a class="location__fact" target="_blank" href="https://goo.gl/maps/LNLQRQvCZpB2">
            <%= image_tag "icons/location-icon.png", alt: "Find it on Google Maps", class: "location__icon" %>

            <span>
              1827 South Hope Street, Los Angeles, CA 90015
            </span>
          </a>
          <div class="location__fact">
            <%= image_tag "icons/bus-icon.png", class: "location__icon"%>
            <span>
              Walking distance to Metro Blue line
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="presentations" class="presentations">
    <section class="presentation-list">
      <h2 class="presentations-list__title">Presentations</h2>
      <div class="presentations-list__intro">
        <p>
          We're proud to announce the following presentations for EMPEX LA!
        </p>
      </div>

      <section class="presentation" id="aaron-harpole">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/aaron-harpole.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Aaron Harpole
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/harpaa01">@harpaa01</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            The Case Against Scale
          </h3>

          <div class="presentation__description">
            <p>
              Scale is a very popular topic among software engineers, and it is something many of us strive to do well, but we rarely discuss its consequences. We think of scale as an inherently good thing. After all, you can make more money, run more efficiently, and solve tough problems. But with this year's theme of building large-scale applications, I'd like to flip that sentiment on its head and make the case against scale.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Aaron:</strong>
              TODO
            </p>
          </div>
        </div>
      </section>

      <section class="presentation" id="bruce-tate">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/bruce-tate.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Bruce Tate
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/redrapids">@redrapids</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Bring On the WorkerBees (Designing Elixir Systems with OTP)
          </h3>

          <div class="presentation__description">
            <p>
              "If you want to be a great Elixir developers, you need to learn to build your programs in layers, the way the experts do. In this session, we will explore the advice: 
            </p>
            <p>
              Do Fun Things with Big, Loud Workerbees. 
            </p>
            <p>
              This sentence, from Designing Elixir Systems with OTP, is a mental mnemonic that stands for Data, Functions, Tests; Boundaries, Lifecycles and Workers. We'll talk about each of these layers in detail focusing on the role of each independent layer in a self-healing, performant Elixir program"
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Bruce:</strong>
              The founder of Groxio, Bruce Tate is a mountain biker, climber and father of two. He's the co-author of Programming Phoenix, Adopting Elixir and Designing Elixir Systems with OTP. He runs the Programmer Passport program, a subscription service that helps programmers advance by teaching them new programming languages.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation" id="jeff-grunewald">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/jeff-grunewald.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Jeff Grunewald
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/TODO">@TODO</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Stream-processing connected vehicle data in Elixir
          </h3>

          <div class="presentation__description">
            <p>
              “Smart” and connected vehicles generate TONS of data. To make use of that data from a fleet of vehicles for analysis of V2V interactions, traffic patterns, or control flow, you have to consume as much of it as fast as possible with high fidelity. The team at SmartColumbus has spent the last year building robust data ingestion capabilities in Elixir at the speed and scale needed to support thousands of vehicles simultaneously.
            </p>
            <p>
              This talk will showcase the strategies developed for concurrent processing, batching, and validating data across each of these unique streams. You’ll learn about the design decisions the team has made as well as the open source libraries we’ve developed to enable data consumption at the scale of a “Smart City”.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Jeff:</strong>
              Jeff has been in technology for over a decade, first as a systems and network administrator and later in the DevOps and software engineering space. He has extensive experience with Kubernetes and has been in love with the Elixir language and the Erlang Virtual Machine for the past three years, working to grow the adoption of the relatively young language. He's an avid reader, sci fi fan, and gamer often found grinding hours in the Destiny universe.
            </p>
          </div>
        </div>
      </section>

      <section class="presentation" id="geoffrey-lessel">
        <div class="presentation-presenter">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag "people/presenters/geoffrey-lessel.jpg", class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            Geoffrey Lessel
          </h4>

          <div class="presentation-presenter__link">
            <a target="_blank" href="https://twitter.com/geolessel">@geolessel</a>
          </div>
        </div>

        <div class="presentation__details">
          <h3 class="presentation__title">
            Controlling MIDI Devices in Real Time with Elixir and Nerves
          </h3>

          <div class="presentation__description">
            <p>
              MIDI is a specification developed in the 80s to allow musical
              instruments to talk to each other in near real-time. This
              inter-instrument talk involved sending notes, changing syntesizer
              patches, and modifying a song's BPM. Since the 80s, MIDI has continued
              to be the go-to specification for controlling musical instruments,
              lighting rigs, and more!
            </p>
            <p>
              In this talk, I'll demonstrate how Elixir can control MIDI devices
              (specifically, for this talk, an analog synthesizer) in
              real-time. I'll show how OTP provides a great way to implement this
              control and the benefits and drawbacks of using it for real-time
              musical instrumentation.
            </p>
            <p>
              Furthermore, I will demonstrate how this system is then visualized using Phoenix and LiveView.
            </p>
          </div>

          <div class="presentation__bio">
            <p>
              <strong>About Geoffrey:</strong>
              Geoffrey Lessel has been a web developer for over 15 years — first with PHP and Perl and now with Ruby on Rails and Phoenix. He has spoken at ElixirConf, blogs about Elixir and Ecto at geoffreylessel.com, and tweets from @geolessel.
            </p>
          </div>
        </div>
      </section>

    </section>
  </section>

  <section id="sponsors" class="sponsor-section">
    <section class="sponsor-list">
      <h2>Sponsors</h2>
    </section>

    <div class="footer">
      <div>
        <p>
          Please join us!  Our sponsorship prospectus is available <a href="https://docs.google.com/document/d/13AaTTTRUQk6XgTo9GJzFuh7IDzDF9t-F1XebmX_PAEI/edit">here</a>.
        </p>
        <h4>
          If you're interested in sponsoring EMPEX, please contact us at
          <a href="mailto:info@empex.co">info@empex.co</a>.
        </h4>
      </div>
    </div>
  </section>

  <section id="organizers" class="organizers">
    <h2>Organizers</h2>
    <section class="organizer-list">

      <section class="organizer">
        <%= image_tag "people/organizers/bowe-desmond.png" %>
        <div class="bd">
          <h3>Desmond Bowe</h3>
          <div>
            <a href="https://twitter.com/desmondmonster" target="_blank">
              @desmondmonster
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/hannah.png" %>
        <div class="bd">
          <h3>Hannah Howard</h3>
          <div>
            <a href="https://twitter.com/techgirlwonder" target="_blank">
              @techgirlwonder
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/rosemary.jpg" %>
        <div class="bd">
          <h3>Rosemary Ledesma</h3>
          <div>
            <a href="https://twitter.com/rosemledesma" target="_blank">
              @rosemledesma
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/will.jpg" %>
        <div class="bd">
          <h3>Will Ockelmann-Wagner</h3>
          <div>
            <a href="https://twitter.com/WowItsWillWow" target="_blank">
              @WowItsWillWow
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/bruce.jpg" %>
        <div class="bd">
          <h3>Bruce Park</h3>
          <div>
            <a href="https://twitter.com/bpark0" target="_blank">
              @bpark0
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <!-- spacer -->
      </section>
    </section>
  </section>

  <section id="bottom">
    <footer id="footer" class="footer">
      <section id="signup">
        <p> We&#39;d love for you to join us. Put your email address in so we can keep you up to date.</p>
        <%= partial "partials/signup" %>
      </section>
      <div class="footer__logo logo la"></div>
      <div>
          <ul class="links">
            <li>
              <%= tweet_link_to "Tweet at #empex",
                url: "http://empex.co",
                text: "EMPEX LA is happening on Feburary 2, 2020" %>
            </li>
            <li><%= link_to "Code of Conduct", '/code-of-conduct.html', relative: true %></li>
            <li>Design by <%= link_to "Thought Merchants", 'http://thoughtmerchants.com' %></li>
          </ul>
      </div>
    </footer>
  </section>
</body>

</html>
