<!doctype html>
<html>

<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>EMPEX LA Civic Hack Retreat 2018</title>

  <%= stylesheet_link_tag "la-all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/javascripts/smoothScroll.js"></script>

  <link href="/assets/images/favicon.ico" rel="icon" type="image/ico" />

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73059900-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-73059900-1');
  </script>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@empexco" />
  <meta name="twitter:title" content="EMPEX - LA 2018" />
  <meta name="twitter:description" content="EMPEX LA is a sophisticated conference series for the Elixir programming language and ecosystem held in Los Angeles." />
  <meta name="twitter:image" content="<%= asset_url :images, 'flag.jpg' %>" />
  <meta name="twitter:image" content="http://empex.co/assets/images/flag-577c45fc.jpg" />

  <meta property="og:url" content="http://empex.co/" />
  <meta property="og:title" content="EMPEX - LA 2018" />
  <meta property="og:description" content="EMPEX LA is a sophisticated conference series for the Elixir programming language and ecosystem held in Los Angeles." />
  <meta property="og:image" content="<%= asset_url :images, 'flag.jpg' %>" />
</head>

<body class="body">
  <div class="hero-background">
    <section class="hero">
      <nav class="nav">
        <div class="nav__empex">
          <strong>EMPEX</strong>
          <br class="hide-tablet"/>

          Los Angeles
        </div>

        <div class="nav__spacer"></div>

        <div class="nav__links">
          <a class="nav__link" href="#about">
            About
          </a>
          <a class="nav__link" href="#location">
            Location
          </a>
          <a class="nav__link" href="#training">
            Training
          </a>
          <a class="nav__link" href="#schedule">
            Schedule
          </a>
          <a class="nav__link" href="#sponsors">
            Sponsors
          </a>
          <a class="nav__link" href="#organizers">
            Organizers
          </a>
          <span class="nav__link">
            <!-- spacer -->
          </span>
        </div>
      </nav>

      <div class="hero__content">
        <h2>
          LA Civic Hack Retreat<br class="hide-mobile" / >
        </h2>
        <p>
          Saturday, August 4, 2018
        </p>
      </div>

      <%# <div class="hero__buttons"> %>
        <%# <a class="hero__button hero__button--buy" href="https://ti.to/empex/la-civic-hack-retreat" target="_blank"> %>
          <%# Buy Tickets %>
        <%# </a> %>
      <%# </div> %>
    </section>

    <section id="about" class="about">
      <h2>Los Angeles</h2>
      <p>Sad news friends.</p>
      <p>Our venue cancelled on us at the last minute and our backup venue has fallen through, so we've been forced to postpone the Hack Retreat.  All those who bought tickets will be fully refunded.</p>
      <p>We don't have a reschedule date at this time but keep an eye on our Twitter feed for all the updates.</p>
      <p>Thanks for your continuing support of sweet EMPEX events.</p>
      <%# <p>Saturday, August 4, 2018</p> %>
      <%# <p> %>
        <%# What better way to celebrate our love of Elixir than to invite you, a member of the growing Elixir community, to an unprecedented event: a civic hacking retreat in a mansion with a pool! %>
      <%# </p> %>
      <%# <p> %>
        <%# We'll be spending the day hanging out together collaborating on projects that benefit the general community.  You'll make new friends who share your curiosity about Elixir while building an application to benefit the people and city of Los Angeles.  You'll share ideas with like-minded Elixirists and learn some new skills.  We'll have veteran Elixirists on hand to answer questions so no one feels stuck or lost. %>
      <%# </p> %>
      <%# <p> %>
        <%# In true LA fashion, we're hosting this special event in a luxurious, private mansion featuring a grill, pool, and hot tub.  Why choose between having your mind expanded and enjoying some summer fun when you can have both!  There will be plenty to eat and drink.  You can take breaks to mingle and cool off in the pool, or don't -- you can also just stay heads down solving some tough problems. It's really up to you! %>
      <%# </p> %>
      <%# <p> %>
        <%# Join us for an exciting experience that will be fun and educational for all! %>
      <%# </p> %>
        <%# <p> %>
        <%# Those of you who have attended or heard of EMPEX conferences know we host unforgettable events.  Come meet us again, or for the first time.  This could be the start of something beautiful. %>
      <%# </p> %>

      <%= partial "partials/signup" %>
    </section>
  </div>

  <div class="hr hr--black"></div>

  <section id="sponsors" class="sponsor-section">
    <h2>Brought to you by</h2>

    <section class="sponsor-list">
      <div class="row">
        <div class="sponsors crevalle">
          <a class="image-link" target="_blank" href="http://crevalle.io/">
            <%= image_tag "sponsors/crevalle-la.svg", alt: "Crevalle", title: "Crevalle", class: "crevalle-logo" %>
          </a>
        </div>
      </div>

      <%# <div class="row">
        <div class="sponsors platinum">
          <h3>Platinum</h3>

        </div>
      </div> %>

      <%# <div class="row">
        <div class="sponsors silver">
          <h3>Silver</h3>

        </div>
      </div> %>
    </section>

    <div class="footer">
      <div>
        If you're interested in sponsoring EMPEX, please contact us at
        <a href="mailto:info@empex.co">info@empex.co</a>.
      </div>
    </div>
  </section>

  <section id="organizers" class="organizers">
    <h2>Organizers</h2>
    <section class="organizer-list">

      <section class="organizer">
        <%= image_tag "people/organizers/bowe-desmond.png" %>
        <div class="bd">
          <h3>Desmond Bowe</h3>
          <div>
            <a href="https://twitter.com/desmondmonster" target="_blank">
              @desmondmonster
            </a>
          </div>
          <div>
            <a target="_blank" href="http://crevalle.io">
              crevalle.io
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/tony.jpg" %>
        <div class="bd">
          <h3>Tony Delgado-Willis</h3>
          <div>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/jack.jpg" %>
        <div class="bd">
          <h3>Jack Eisenberg</h3>
          <div>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/hannah.png" %>
        <div class="bd">
          <h3>Hannah Howard</h3>
          <div>
            <a href="https://twitter.com/techgirlwonder" target="_blank">
              @techgirlwonder
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/rosemary.jpg" %>
        <div class="bd">
          <h3>Rosemary Ledesma</h3>
          <div>
            <a href="https://twitter.com/rosemledesma" target="_blank">
              @rosemledesma
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/will.jpg" %>
        <div class="bd">
          <h3>Will Ockelmann-Wagner</h3>
          <div>
            <a href="https://twitter.com/WowItsWillWow" target="_blank">
              @WowItsWillWow
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/bruce.jpg" %>
        <div class="bd">
          <h3>Bruce Park</h3>
          <div>
            <a href="https://twitter.com/bpark0" target="_blank">
              @bpark0
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <%= image_tag "people/organizers/sarah.jpg" %>
        <div class="bd">
          <h3>Sarah Port</h3>
          <div>
            <a href="https://github.com/seport" target="_blank">
              @seport
            </a>
          </div>
        </div>
      </section>

      <section class="organizer">
        <!-- spacer -->
      </section>
    </section>
  </section>

  <section id="bottom">
  <footer id="footer" class="footer">
    <div class="footer__logo logo la"></div>
    <div>
        <ul class="links">
          <li>&copy; <% link_to "http://crevalle.io", target: '_blank', class: 'no-hover' do %>
              <%= image_tag "sponsors/#{producer.footer_logo}", alt: producer.name, title: producer.name, class: 'crevalle-name' %>
          <% end %>
          </li>
          <li>
            <%= tweet_link_to "Tweet at #empex",
              url: "http://empex.co",
              text: "EMPEX LA is happening on Feburary 10, 2018" %>
          </li>
          <li><%= link_to "Code of Conduct", '/code-of-conduct.html', relative: true %></li>
          <li>Design by <%= link_to "Thought Merchants", 'http://thoughtmerchants.com' %></li>
        </ul>
    </div>
      </footer>
  </section>
</body>

</html>
