---
title: Empire City Elixir Conf
layout: layout
---

<% content_for(:bottom_of_page) { javascript_include_tag "moon" } %>

<!-- Header -->
<section id="hero">
  <div id="moon"><div></div></div>
  <header id="header" class="header container">
    <%= partial "partials/logo" %>
    <small>Crevalle proudly presents</small></br>
    <h1>Empire City Elixir Conference <span class="year">2016</span></h1>
    <p>A one-day conference for passionate programmers<br />
      Saturday, May 21st<br />
      New York City<br />
    </p>
    <%= link_to "Register", "#", class: "button button-primary button-large" %>
  </header>
</section>

<div class="navbar-spacer"></div>
<nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="#speakers">Speakers</a></li>
      <li class="navbar-item"><a class="navbar-link" href="#location">Location</a></li>
      <li class="navbar-item"><a class="navbar-link" href="#sponsors">Sponsors</a></li>
    </ul>
  </div>
</nav>

<section id="speakers">
  <div class="content-section container white">
    <h2>Speakers</h2>
    <p>
      Empire City Elixir Conf is looking for speakers! The <%= link_to "Call for Speakers", "/call-for-speakers.html" %> is open until <strong>Tuesday, March 15, 2016</strong> and selections will be made by <strong>Friday, April 2016</strong>. Submit your talk!
    </p>
    <%= link_to "Learn more", "/call-for-speakers.html", class: "button button-secondary" %>
  </div>
</section>

<section id="location">
  <div class="content-section container">
    <h2>Location</h2>
    <p>Coming soon</p>
  </div>
</section>

<section id="sponsors">
  <div class="content-section container">
    <h2>Sponsors</h2>
    <p>Coming soon</p>
  </div>
</section>

<section id="bottom">
  <section class="container content-section">
    <%= partial "partials/signup" %>
    <%= partial "partials/footer" %>
  </section>
</section>
