---
title: Empire City Elixir Conf
layout: layout
---

<% content_for(:bottom_of_page) { javascript_include_tag "moon" } %>

<!-- Header -->
<section id="hero">
  <div id="moon"><div></div></div>
  <header id="header" class="header container">
    <%= partial "partials/logo" %>
    <small>Crevalle proudly presents</small></br>
    <h1>Empire City Elixir Conference <span class="year">2016</span></h1>
    <p>A one-day conference for passionate programmers<br />
      Saturday, May 21st<br />
      New York City<br />
    </p>
    <%= link_to "Register", "#", class: "button button-primary" %>
  </header>
</section>

<section id="main">
  <section id="speakers" class="content-section container">
    <h2>Speakers</h2>
    <p>
      Empire City Elixir Conf is looking for speakers! The <%= link_to "Call for Speakers", "/call-for-speakers.html" %> is open until <strong>Tuesday, March 15, 2016</strong> and selections will be made by <strong>Friday, April 2016</strong>. Submit your talk!
    </p>
    <%= link_to "Learn more", "/call-for-speakers.html", class: "button button-secondary" %>
  </section>

  <!-- <section id="location" class="content&#45;section container"> -->
  <!-- </section> -->
</section>

<section id="bottom">
  <section class="container content-section">
    <%= partial "partials/signup" %>
    <%= partial "partials/footer" %>
  </section>
</section>
