---
title: Empire City Elixir Conf
layout: layout
---

<% content_for(:bottom_of_page) { javascript_include_tag "moon" } %>

<% page_nav = %w[speakers location sponsors organizers] %>

<!-- Header -->
<section id="hero">
  <div id="moon"><div></div></div>
  <header id="header" class="header container">
    <%= partial "partials/logo" %>
    <small>Crevalle proudly presents</small></br>
    <h1>Empire City Elixir Conference <span class="year">2016</span></h1>
    <p>A one-day conference for passionate programmers<br />
      Saturday, May 21st<br />
      New York City<br />
    </p>
    <%= link_to "Register", "https://ti.to/crevalle/empex-2016", class: "button button-primary button-large", target: "_blank" %>
  </header>
</section>

<div class="navbar-spacer"></div>
<nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <% page_nav.each do |nav| %>
        <li class="navbar-item">
          <%= link_to nav.titleize, "##{nav}", class: "navbar-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<section id="speakers">
  <div class="content-section container white">
    <h2>Speakers</h2>
    <p>
      EmpEx is looking for speakers! The <%= link_to "Call for Speakers", "/call-for-speakers.html" %> is open until <strong>Tuesday, March 15, 2016</strong> and selections will be made by <strong>Friday, April 1st, 2016</strong>. Submit your talk!
    </p>
    <%= link_to "Learn more", "/call-for-speakers.html", class: "button button-secondary" %>
  </div>
</section>

<section id="location">
  <div class="content-section container">
    <h2>Location</h2>
    <p>EmpEx will be held at <%= link_to "Subculture", "http://subculturenewyork.com", target: "_blank" %>, 45 Bleeker St, New York City, 10012</p>
    <iframe frameborder=0 src="https://www.google.com/maps/embed/v1/place?q=45+Bleeker+St,+New+York,+NY&key=<%= google_api_key %>" ></iframe>
  </div>
</section>

<section id="sponsors">
  <div class="content-section container">
    <h2>Sponsors</h2>
    <p>If you're interested in sponsoring EmpEx please email us at <a href="mailto:info@empex.co">info@empex.co</a>.</p>
  </div>
</section>

<section id="organizers">
  <div class="content-section container">
    <h2>Organizers</h2>
    <%= partial "partials/organizers" %>
  </div>
</section>

<section id="bottom">
  <section class="container content-section">
    <h2>Updates</h2>
    <%= partial "partials/signup" %>
    <%= partial "partials/footer" %>
  </section>
</section>
