---
layout: layout
---

<% content_for(:head) do %>
  <% url = "/talks/#{talk.slug}" %>
  <link rel="canonical" href="<%= url %>">
<% end %>

<section class="presentation">
  <div class="presentation-presenter">
    <div class="presentation-panel">

      <% talk.authors.each do |author| %>
        <div class="presentation-panel__member">
          <div class="presentation-presenter__avatar-container">
            <%= image_tag profile_image(author), class: "presentation-presenter__avatar" %>
          </div>

          <h4 class="presentation-presenter__name">
            <%= author.name %>
          </h4>

          <div class="presentation-presenter__link">
            <% if author.twitter %>
              <a target="_blank" href="https://twitter.com/<%= author.twitter %>">
                @<%= author.twitter %>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  # TODO: YOUTUBE EMBED

  <div class="presentation__details">
    <h3 class="presentation__title">
      <%= talk.title %>
    </h3>

    <div class="presentation__description">
      <%= talk.description.split("\n").each do |p| %>
        <p><%= p %></p>
      <% end %>
    </div>

    <div class="presentation__bio">
      <% talk.authors.each do |author| %>
        <p>
          <strong>About <%= author.name %>:</strong>
          <%= author.bio %>
        </p>
      <% end %>
    </div>
  </div>
</section>