---
layout: layout
---

<% content_for(:head) do %>
  <% url = "/talks/#{talk.slug}" %>
  <link rel="canonical" href="<%= url %>">
<% end %>

<h1><%= talk.title %></h1>
<%= talk.author.name %> <%= talk.author.twitter %>

<img src="<%= profile_image(talk.author) %>">
<%= talk.conference %>

<%= embedded_video(talk) %>

<%= talk.description %>

about <%= talk.author.name %>:
<%= talk.author.bio %>
